body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.page_howtos {
		.howto {
			background-color: #444;
			padding: 10px;
			margin: 0 0 10px 0;
			border-radius: 5px;

			.title a {
				font-size: 1.2rem;
				color: rgb(241, 190, 94);
			}

			pre.body {
				font-size: 0.8rem;
				background-color: #222;
				padding: 10px;
				border-radius: 5px;
				white-space: pre-wrap;
			}
		}
	}

}